<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div>
  
  <% if @participant.password_required? %>

  <div><%= f.label :wachtwoord %> 
  <%= f.password_field :password, :autocomplete => "off" %>
  <i>(leave blank if you don't want to change it)</i></div>

  <div><%= f.label :wachtwoord_bevestiging %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :huidig_wachtwoord %>
  <%= f.password_field :current_password %>
  <i>(we need your current password to confirm your changes)</i></div>
  <% end %>

  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Verwijder mijn account", registration_path(resource_name), :confirm => "Weet je het zeker?", :method => :delete %>.</p>

<%= link_to "Terug", :back %>
