<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div>
  
  <div><%= f.label :naam %>
  <%= f.email_field :name %></div>
  
  <% if @participant.password_required? %>

  <div><%= f.label :wachtwoord %> 
  <%= f.password_field :password, :autocomplete => "off" %>
  <i>(laat dit leeg als je het niet wilt veranderen)</i></div>

  <div><%= f.label :wachtwoord_bevestiging %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :huidig_wachtwoord %>
  <%= f.password_field :current_password %>
  <i>(we hebben je wachtwoord nodig om de wijzigingen te kunnen bevestigen)</i></div>
  <% end %>

  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Verwijder mijn account</h3>

<p>Wil je niet meer meedoen? <%= link_to "Verwijder mijn account", registration_path(resource_name), :confirm => "Weet je het zeker?", :method => :delete %>.</p>

<%= link_to "Terug", :back %>
