%H1 Gegevens atleet
= f.label "licentienummer_Atletiekunie"
= f.text_field :licensenumber

= f.label :vereniging
= collection_select(:entry, :club_id, Club.all, :id, :name)

= f.label :onderwijsinstelling
= collection_select(:entry, :college_id, College.all, :id, :name)

= f.label :studie
= f.text_field :study

= f.label :studentnummer
= f.text_field :studentnumber

= f.label :geboortedatum
%div.form-horizontal
  = date_select(:entry, :birthdate, {:start_year => Time.now.year - 80, :end_year => Time.now.year}, :class => "datepicker")