%h6 Onze sponsoren
= link_to image_tag('sauconylogo.jpg', :class => "banner"), "http://www.saucony.nl",:target => "_blank"
= link_to image_tag('RunninCenterLogo.png', :class => "banner"), "http://www.runenschede.nl/", :target => "_blank"
= link_to image_tag('SR logo.png', :class => "banner"), "http://www.sportraadut.nl/", :target => "_blank"
= link_to image_tag('ZeuS logo.png', :class => "banner"), "http://www.studentenatletiek.nl/", :target => "_blank"
= link_to image_tag('ssn_logo_passend.png', :class => "banner"), "http://www.studentensport.nl/", :target => "_blank"
= link_to image_tag('Logo UT fonds.png', :class => "banner"), "http://www.utwente.nl/ufonds/",:target => "_blank"