%ul.entry
  %li
    Naam:
    = entry.name
  %li
    Emailadres:
    = entry.participant.email
  %li
    Geslacht:
    = entry.sex.name
  - if entry.athlete?
    %li
      Geboortedatum:
      = l entry.birthdate
    %li
      Atletiekvereniging:
    - if entry.club
      = entry.club.name
    %li
      Licentienummer Atletiekunie:
      =entry.licensenumber
    %li
      Onderwijsinstelling:
      = entry.college.name
  -if entry.diner
    %li
      Je hebt je opgegeven voor het diner.
  -if entry.party
    %li
      Je hebt je opgegeven voor het feest, overnachting en ontbijt.
      
  -if !entry.shirtsize.empty?
    %li
      Je hebt een deelnemers t-shirt besteld met de maat:
      = entry.shirtsize.capitalize
    
  - if entry.volunteer?
    %li
      Je hebt je opgegeven als vrijwilliger op:
      %ul
        - entry.days.each do |day|
          %li
            = l day.date
    %li
      Je t-shirt maat is:
      = entry.tshirtmaat.capitalize
  - if entry.athlete?
    %li
      Onderdeel gegevens:
  = render entry.event_participations
  
  -if entry.mustPay?
    %br
    %li
      Totaalbedrag:
      = number_to_currency entry.totalCost
      
    %li
      Bankrekening:
      = mask_number(entry.banknumber)