%h1 Deelname gegevens
- event_counter = 1
=f.fields_for :event_participations do |p|
  %div.well
    %a{:name => "onderdeel#{event_counter}"}
    %h4 Onderdeel #{event_counter}
    = p.collection_select(:event_id, @events, :id, :name)
    = p.label :beste_prestatie
    = p.text_field :best_performance, :class => "participation"
    = p.label :plaats
    = p.text_field :best_location, :class => "participation"
    = p.label :datum
    %div.form-horizontal
      = p.date_select(:best_date, {:start_year => Time.now.year - 30, :end_year => Time.now.year}, :class => "datepicker")
  - event_counter += 1
%br
= f.submit "Voeg een onderdeel toe", :name => "new_participation_button", :class =>"button" if f.object.athlete?
= f.submit "Ik wil graag aan een onderdeel deelnemen", :name => "new_participation_button", :class =>"button" if !f.object.athlete?
= f.submit "Verwijder een onderdeel", :name => "reset_participations", :class =>"button" if f.object.athlete? && params[:action]!="update" 
%br

%p 
  %h4 Op de volgende dagen wil ik meehelpen als vrijwilliger/jurylid:
  <input type="hidden" value="" name="entry[day_ids][]">
  - Day.all.each_with_index do |day,i|
    - unless i==0
      %br
    = check_box_tag "entry[day_ids][]", day.id, @entry.days.include?(day)
    = l day.date, :format => :xlong
    

