 <% if @authentications %>
 <% unless @authentications.empty? %>
  <p><strong>Koppel je account met facebook:</strong></p>
   <div class="authentications">
    <% for authentication in @authentications %>
     <div class="well">
      <%= image_tag "#{authentication.provider}_32.png", :size => "32x32" %>
      <div class="provider"><%= authentication.provider.titleize%></div>
      <div class="uid"><%= authentication.uid %></div>
       <%= link_to "X", authentication, :confirm => 'Weet je zeker dat je facebook wilt ontkoppelen', :method => :delete, :class => "remove" %>
     </div>
     <% end %>
     <div class="clear"></div>
    </div>
   <% end %>
   <p><strong>Koppel je account met facebook:</strong></p>
  <% else %>
  <p><strong>Koppel je account met facebook:</strong></p>
<% end %>


<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>Facebook</a>
