<h2>Verander je wachtwoord</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :password, "Nieuw wachtwoord" %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, "Bevestig je nieuwe wachtwoord" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Verander mijn wachtwoord" %></div>
<% end %>

<%= render "links" %>