%h1 Overzicht
%h5 Controleer a.u.b. je gegevens
= render @registration
%br
- if f.object.mustPay?
  %label.checkbox
    = f.check_box :bankAuthorization, :validate => false
    Ik machtig hierbij de organisatie van het NSK Baan 2012 om #{number_to_currency @registration.totalCost} van mijn rekening af te schrijven
- if f.object.athlete?
  %label.checkbox
    = f.check_box :meetRegulations, :validate => false
    Ik ga akkoord met het wedstrijdreglement
  %label.checkbox
    = f.check_box :zeusDatabase
    Mijn e-mailadres mag worden opgenomen in de Z.E.U.S. database