= f.label :ik_machtig_hierbij_de_organisatie_van_het_nskbaan_om_geld_af_te_schrijven
= f.check_box :bankAuthorization, :validate => false
%br
= f.label :ik_ga_akkoord_met_het_wedstrijdreglement
= f.check_box :meetRegulations, :validate => false
%br
= f.label :in_de_zeus_database
= f.check_box :zeusDatabase
%br
totaalbedrag:
= @registration.totalCost