%h1 Algemene gegevens
%div.clearfix
  %b Naam
  = f.text_field :name, "data-original-title" => "Pick a username (only letters, numbers, and underscores)"
%div.clearfix
  = f.label :email_adres
  = f.email_field :email
%div.clearfix
  = f.label :geslacht
  = collection_select(:registration, :sex_id, Sex.all, :id, :name)