%ul
  = registration.name
  = registration.sex.name
  = registration.club.name
  = registration.college.name
  = link_to 'verwijder', registration, :method => :delete, :confirm => "Weet je het zeker?", :title => "Verwijder #{registration.name}"