%ul
  %li
    = registration.name
  %li
    = registration.sex.name
  %li
    = registration.club.name if registration.athlete?
  %li
    = registration.college.name if registration.athlete?
  %li
    = link_to 'verwijder', registration, :method => :delete, :confirm => "Weet je het zeker?", :title => "Verwijder #{registration.name}"