%ul.registration
  %li
    Naam:
    = registration.name
  %li
    Emailadres:
    = registration.participant.email
  %li
    Geslacht:
    = registration.sex.name
  - if registration.athlete?
    %li
      Geboortedatum:
      = l registration.birthdate
    %li
      Atletiekvereniging:
      = registration.club.name
      %li
        Onderwijsinstelling:
        = registration.college.name
    - if false
      %li
      = link_to 'verwijder', registration, :method => :delete, :confirm => "Weet je het zeker?", :title => "Verwijder #{registration.name}"
  - if registration.athlete?
    %li
      Onderdeel gegevens:
  = render registration.event_participations