= f.label :diner
= f.check_box :diner
%br
= f.label :"feest, overnachting & onbijt"
= f.check_box :party
%br
= f.label :functioneel_sportshirt
= select(:registration, :shirtsize, [['geen', nil], ['S', "s"], ['M', "m"], ['L', "l"], ['XL', "xl"]])
%br