
= f.label :jureren
= f.check_box :jureren
%br
= f.label :onderdeel_voorkeuren
= f.text_area :onderdeel_voorkeuren
%br
= f.label :materiaalploeg
= f.check_box :materiaalploeg
%br
= f.label :catering
= f.check_box :catering
%br
= f.label :meldbureau
= f.check_box :meldbureau
%br
= f.label :wedstrijdsecretariaat
= f.check_box :wedstrijdsec
%br
Ik heb de volgende jurydiploma's:
= f.label :jurylid_algemeen
= f.check_box :jury_algemeen
%br
= f.label :jurylid_tijd
= f.check_box :jury_tijd
%br
= f.label :jurylid_scheidsrechter
= f.check_box :jury_scheidsrechter