%h1 Nieuwe Inschrijving
= form_for @registration do |f|
  = render 'shared/error_messages', :object => f.object  
  = render "#{@registration.current_step}_step", :f => f
  = f.submit "Continue"
  = f.submit "Back", :name => "back_button" unless @registration.first_step?
  = f.submit "Cancel", :name => "cancel_button"