%h1 Stap #{@registration.steps.index(@registration.current_step) + 1} van #{@registration.steps.size}
%div.span-20
  = form_for @registration, :validate => true do |f|
    %fieldset 
      = render "#{@registration.current_step}_step", :f => f
      = f.submit "Volgende", :id => "continueButton" unless @registration.last_step?
      = f.submit "Opslaan", :id => "continueButton" if @registration.last_step?
      = f.submit "Vorige", :name => "back_button" unless @registration.first_step?