<h2>Inloggen</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :wachtwoord %>
  <%= f.password_field :password %>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> onthoud mij</div>
  <% end -%>

  <div class="submit_field"><%= f.submit "Inloggen", :class => "button" %></div>
<% end %>

<%= render "links" %>