!!! 5
%html
  %head
    %title Inschrijfformulier
    <!--[if lt IE 9]
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    ![endif]-->
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .container

      %section{:class => "round"}
        -flash.each do |key, value|
          - henk = key=="alert" ? "flash alert-#{key} fade in" : "flash alert fade in" 
          %div{:class => henk}
            =value
            %a{:class => :close, "data-dismiss" => "alert"} x
      -if participant_signed_in?
        Je bent ingelogd als #{current_participant.email}
        = link_to "Log uit", destroy_participant_session_path, :method => :delete
          
          
      = yield
